<div class="container">
  <div fxLayout="row">
    <h1>Fornecedores</h1>
  </div>
  <div fxLayoutGap="20px">
    <mat-form-field appearance="outline" fxFlex="40">
      <input matInput placeholder="Fornecedor">
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="40">
      <input matInput placeholder="Cnpj">
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="20">
      <input matInput placeholder="Ativo">
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>
  </div>

  <app-fornecedor-listar></app-fornecedor-listar>

</div>
