.sidenav{
  width: 200px;
  background-color: #008DFF;
}

.material-icons{
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

.content{
  padding: 16px;
  background-color: white;
}

i{
  color: white;
}

.nameIcon {
  color: white;
}
