
//
// Color system
//

$white:    #fff !default;
$gray-100: #EFEFEF !default;
$gray-200: #DEE3EA !default;
$gray-300: #C6C7CF !default;
$gray-400: #9096B4 !default;
$gray-500: #071630 !default;

$black:    #000 !default;

$blue-100: #D5E5FF !default;
$blue-300: #008DFF;
$blue-500: #005FD7;
$blue-700: #2E3663;

$yellow-900: #FFD701;

$info-900: #FFF2AC;
$warning-900: #FF5675;
$success-900: #4CE883;

$mat-yellow: (
  900: $yellow-900,
  contrast: (
    100: $black,
  )
);

$mat-blue: (
  500: $blue-500,
  300: $blue-300,
  contrast: (
    100: $black,
  )
);

$mat-warn: (
  900: $warning-900,
  contrast: (
    100: $black,
  )
);

$mat-info: (
  900: $info-900,
  contrast: (
    100: $black,
  )
);

$mat-success: (
  900: $success-900,
  contrast: (
    100: $black,
  )
);

$grays: () !default;
