@use '@angular/material' as mat;

@import '~@angular/material/theming';
@import 'variables';
@include mat.core();

$primary: mat.define-palette($mat-blue,500);
$accent: mat.define-palette($mat-blue,300);
$success: mat.define-palette($mat-success, 900);
$info: mat.define-palette($mat-info);
$warn: mat.define-palette($mat-warn,900);

$app-theme: mat.define-light-theme($primary, $accent, $warn);

//$ueg-color-dark: #000445;
//$ueg-color-light: #1C347E;
//$theme-background: radial-gradient( circle,mat-color($primary,800), mat-color($primary,900));
//$theme-background-solid: #fff;

@include angular-material-theme($app-theme);
